x-common-logging: &common-logging
    driver: "json-file"
    options:
        max-size: "2048m"

x-user:
    common-user: &common-user "${AIRFLOW_UID:-50000}:${GID}"

x-airflow-worker-volumes: &airflow-worker-volumes
    - /home/igf/airflow_v4/airflow_v4_logs:/rds/general/user/igf/ephemeral/airflow_v4_logs:rw
    - /home/igf/airflow_v4/plugin:/rds/general/project/genomics-facility-archive-2019/live/AIRFLOW/airflow_v4/plugin:ro
    - /home/igf/airflow_v4/github/igf-airflow-hpc:/rds/general/project/genomics-facility-archive-2019/live/AIRFLOW/airflow_v4/github/igf-airflow-hpc:ro
    - /home/igf/airflow_v4/secrets:/rds/general/project/genomics-facility-archive-2019/live/AIRFLOW/airflow_v4/secrets:ro
    - /home/igf/.ssh/id_rsa:/SSH/id_rsa:ro

x-airflow-web-volumes: &airflow-web-volumes
    - /home/igf/airflow_v4/airflow_v4_logs:/rds/general/user/igf/ephemeral/airflow_v4_logs:rw
    - /home/igf/airflow_v4/plugin:/rds/general/project/genomics-facility-archive-2019/live/AIRFLOW/airflow_v4/plugin:ro
    - /home/igf/airflow_v4/ssl_cert/airflow.cert:/SSL/airflow.cert:ro
    - /home/igf/airflow_v4/ssl_cert/airflow.key:/SSL/airflow.key:ro

x-airflow-postgres-volumes: &airflow-postgres-volumes
    - /home/igf/airflow_v4/postgres_airflow_db:/var/lib/postgresql/data:rw

x-airflow-pgbouncer-volumes: &airflow-pgbouncer-volumes
    - /home/igf/airflow_v4/pgbouncer:/opt/pgbouncer

x-results-postgres-volumes: &results-postgres-volumes
    - /home/igf/airflow_v4/postgres_airflow_results_db:/var/lib/postgresql/data:rw

x-redis-volumes: &redis-volumes
    - /home/igf/airflow_v4/secrets/redis.conf:/usr/local/etc/redis/redis.conf:ro
    - /home/igf/airflow_v4/redis_airflow_data:/data:rw

x-airflow-env-file: &airflow-env-file
    - /home/igf/airflow_v4/secrets/airflow_env

x-airflow-env-file2: &airflow-env-file2
    - /home/igf/airflow_v4/secrets/airflow_env2

x-airflow-db-env-file: &airflow-db-env-file
    - /home/igf/airflow_v4/secrets/airflow_db_env

x-airflow-results-db-env-file: &airflow-results-db-env-file
        - /home/igf/airflow_v4/secrets/airflow_results_db_env

x-images:
    airflow-image: &airflow-image imperialgenomicsfacility/igf-airflow:v1.7.3
    postgres-image: &postgres-image postgres:16.4
    pgbouncer-image: &pgbouncer-image pgbouncer:v1.19.0
    redis-image: &redis-image redis:7.4

x-airflow-db-depends-on: &airflow-db-depends-on
    airflow_db_v4:
        condition: service_started
    airflow_results_db_v4:
        condition: service_started

x-airflow-common-depends-on: &airflow-common-depends-on
    redis_server_v4:
        condition: service_started
    airflow_pgbouncer_v4:
        condition: service_started

x-airflow-common-links: &airflow-common-links
    - airflow_db_v4
    - airflow_results_db_v4
    - redis_server_v4
    - airflow_pgbouncer_v4


networks:
    airflow_network_v4:
        driver: bridge
services:
    airflow_db_v4:
        image: *postgres-image
        env_file: *airflow-db-env-file
        logging: *common-logging
        ports:
            - "5433:5432"
        restart: unless-stopped
        volumes: *airflow-postgres-volumes
        container_name: airflow_db_v4
        networks:
            - airflow_network_v4
    airflow_pgbouncer_v4:
        image: *pgbouncer-image
        logging: *common-logging
        volumes: *airflow-pgbouncer-volumes
        restart: unless-stopped
        links:
            - airflow_db_v4
            - airflow_results_db_v4
        depends_on: *airflow-db-depends-on
        command: ["pgbouncer /opt/pgbouncer/pgbouncer.ini"]
        container_name: airflow_pgbouncer_v4
        ports:
            - "5435:5432"
        networks:
            - airflow_network_v4
    airflow_results_db_v4:
        image: *postgres-image
        env_file: *airflow-results-db-env-file
        logging: *common-logging
        ports:
            - "5434:5432"
        restart: unless-stopped
        volumes: *results-postgres-volumes
        container_name: airflow_results_db_v4
        networks:
            - airflow_network_v4
    redis_server_v4:
        image: *redis-image
        logging: *common-logging
        ports:
            - "6379:6379"
        restart: unless-stopped
        volumes: *redis-volumes
        container_name: redis_server_v4
        command: redis-server /usr/local/etc/redis/redis.conf --appendonly yes
        networks:
            - airflow_network_v4
    airflow_webserver_v4:
        image: *airflow-image
        env_file: *airflow-env-file
        logging: *common-logging
        user: *common-user
        links: *airflow-common-links
        ports:
            - "8083:8080"
        volumes: *airflow-web-volumes
        depends_on: 
            <<: [*airflow-db-depends-on, *airflow-common-depends-on]
        restart: unless-stopped
        command: webserver
        container_name: airflow_webserver_v4
        networks:
            - airflow_network_v4
    airflow_scheduler_v4:
        image: *airflow-image
        env_file: *airflow-env-file
        logging: *common-logging
        user: *common-user
        volumes: *airflow-worker-volumes
        links: *airflow-common-links
        depends_on:
            <<: [*airflow-db-depends-on, *airflow-common-depends-on]
            airflow_webserver_v4:
                condition: service_started
        restart: unless-stopped
        command: scheduler
        container_name: airflow_scheduler_v4
        networks:
            - airflow_network_v4
    airflow_worker_v4:
        image: *airflow-image
        env_file: *airflow-env-file2
        logging: *common-logging
        user: *common-user
        volumes: *airflow-worker-volumes
        depends_on:
            <<: [*airflow-db-depends-on, *airflow-common-depends-on]
            airflow_webserver_v4:
                condition: service_started
            airflow_scheduler_v4:
                condition: service_started
            airflow_flower_v4:
                condition: service_started
        restart: unless-stopped
        command: celery worker -q generic --celery-hostname igf-lims
        container_name: airflow_worker_v4
        network_mode: host
    airflow_flower_v4:
        image: *airflow-image
        env_file: *airflow-env-file
        logging: *common-logging
        user: *common-user
        volumes: *airflow-worker-volumes
        links: *airflow-common-links
        ports:
            - "5555:5555"
        depends_on:
            <<: [*airflow-db-depends-on, *airflow-common-depends-on]
            airflow_webserver_v4:
                condition: service_started
            airflow_scheduler_v4:
                condition: service_started
        restart: unless-stopped
        command: celery flower
        container_name: airflow_flower_v4
        networks:
            - airflow_network_v4
    airflow_init:
        image: *airflow-image
        env_file: *airflow-env-file
        environment:
            _AIRFLOW_DB_UPGRADE: 'true'
            _AIRFLOW_WWW_USER_CREATE: 'true'
        logging: *common-logging
        user: *common-user
        volumes: *airflow-worker-volumes
        links: *airflow-common-links
        depends_on:
            <<: [*airflow-db-depends-on, *airflow-common-depends-on]
        command: version
        networks:
            - airflow_network_v4